@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'satoshi-medium';
  src: url('../resources/fonts/Satoshi-Medium.otf');
}

@font-face {
  font-family: 'satoshi-bold';
  src: url('../resources/fonts/Satoshi-Bold.otf');
}

@font-face {
  font-family: 'manrope-regular';
  src: url('../resources/fonts/Manrope-Regular.ttf');
}

@font-face {
  font-family: 'manrope-medium';
  src: url('../resources/fonts/Manrope-Medium.ttf');
}

/* Button Loader Animation */

@keyframes moveUpDown1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

@keyframes moveUpDown2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

@keyframes moveUpDown3 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-dot1 {
  animation: moveUpDown1 1s infinite;
}

.animate-dot2 {
  animation: moveUpDown2 1s infinite 0.2s;
}

.animate-dot3 {
  animation: moveUpDown3 1s infinite 0.3s;
}